$App1: #533278;
@import "./libs/mixins";
@import "./libs/variables";
@import "./libs/type";
@import "./components/Navbar";


* {
  margin: 0px;
  padding: 0;
  cursor: none;
}

.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid rgba(149, 57, 235, 0.452);
  border-radius: 100%;
  transform: translate(-50%, -50%);

  z-index: 999;
  pointer-events: none;

  @include phone {
    display: none;
  }
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;

  @include phone {
    display: none;
  }
}

body {
  height: 100%;
  position: relative;
  background: linear-gradient(#1a0535, #2d0b4b, #10041f);

}

.App {
  overflow: hidden;
  text-align: center;
}

.App-logo {
  margin-top: 25vh;
  margin-bottom: 8vh;
  height: 120px;
  pointer-events: none;
}

.slogan-img {
  margin-top: 5vh;
  width: 50%;
  max-width: 870px;
  margin: 1rem;

  @include tablet {
    margin-top: 12vh;
    width: 90%;
  }

  @include tablet {
    margin-top: 8vh;
    width: 90%;
  }
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: float 6s ease-in-out infinite;
//   }
// }
.App-header-hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url(../img/background-go-pharma.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url(../img/background-go-footer-pharma.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-link {
  color: #ba7dff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

#tsparticles {
  height: 100vh;
  width: 100%;
  z-index: 0;

  position: relative;

  //background-image: url("../assets/bgHero.jpeg");
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}

.background-a {
  z-index: -1;
  position: absolute;
  opacity: 1;
  height: 100vh;
  width: 100%;
}

section.section {
  height: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  padding: 1rem 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.contenedor {
  height: 100%;
  margin: auto;
  max-width: 1080px;
  text-align: left;
  color: white;
  display: flex;
  flex-flow: column;
}

span {
  color: #f0ebf7 !important;

}

.home-icon {
  display: none !important;

  @include tablet {
    display: block;
  }
}


.home-icon {
  display: none !important;

  @include tablet {
    display: block;
  }
}

.socios {
  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
  background-color: white;
  height: auto !important;
  min-height: 80vh !important;

  h4 {
    text-align: center;
  }
}

.sociost {
  margin-top: 10vh;
  background-color: white;
  min-height: 80vh !important;
}

iframe {
  z-index: -5;
}



h4 {
  text-align: center;
}

.contenedor-socios {
  margin-top: 2rem;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5vh;
  align-items: center;
  justify-content: center;
  justify-self: center;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include phone {
    grid-template-columns: 1fr;
  }

  .socio {
    display: flex !important;
    align-items: center;
    justify-content: center;

    img {
      max-height: 80px;
      height: auto;
      width: auto;
      margin: auto;
    }
  }
}

iframe {
  z-index: -5;
}

.btn-primario {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #3a0d70;
  background: rgb(100, 3, 219) !important;
  border: 1px solid #000;
  max-width: 270px;
  min-width: 160px;
  height: 50px;
  border-radius: 6px;


  margin: 15px auto;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: calc(0.5rem + 0.8vw);
  font-weight: 700;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #3a0d70 !important;
    color: white;
  }
}

.servicios-contenedor {
  height: auto;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 1rem;
  box-sizing: border-box;
  grid-gap: 1rem;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include phone {
    grid-template-columns: 1fr;
  }

  .servicio {
    padding: 1rem;
    font-size: calc((1.6 - 1) * 0.2vw + 1rem);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    img {
      margin: auto;
      width: 100% !important;
      max-width: 180px !important;
    }
  }
}

.servicios {
  padding-top: 5rem;
}

.header-servicios {
  text-align: center;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  box-sizing: border-box;

  .contenedor {
    align-items: center;
    justify-content: center;
  }

  .texto {
    text-align: center !important;
  }

  p {
    font-size: 1.3rem;
  }
}

.filosofia {
  box-sizing: border-box;

  .contenedor {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 3px;
    line-height: 0.3;
    line-height: 1;
    position: relative;
    box-sizing: border-box;
    padding: 1rem;

    h3 {
      color: white;
    }

    .h2 {
      font-size: 3.5rem;
    }

    .h2,
    h4 {
      margin: 0px !important;
    }

    h4 {
      border: none !important;

      font-size: calc(3rem + 2vw);

      @include phone {
        font-size: calc(2.3rem + 2vw);
      }
    }
  }
}

.iframe-contenedor {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  iframe {
    max-width: 980px;
    height: 560px;
    width: 100%;
  }
}

.active-nav {
  color: #d591fd !important;
}



.obs {
  background-color: #1a0535;
}

form {
  display: flex;
  flex-flow: column;
}

.playlist {
  width: 100%;
  position: relative;
  display: flex;
  z-index: 1 !important;
  margin: 3rem 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  bottom: 0;
  color: white;
  min-height: 70vh;
  height: auto;
  background-color: #10041f;
  overflow: hidden;
  box-sizing: border-box;

  padding: calc(2vw + 0.63rem);
  padding-top: calc(2vw + 3rem);

  .titulo {
    @include phone {
      font-size: calc(2vw + 0.63rem);
      text-align: center !important;
    }
  }

  .logo-footer {
    min-width: 90px;
    max-width: calc(3vw + 5rem);
    margin-bottom: 1rem;

  }

  ul {

    text-decoration: none;
    list-style: none;

    li {
      margin: calc(0.1vw + 0.63rem);
    }

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #ba7dff;
      }
    }
  }

  .grid {
    z-index: 2;
    position: relative;
    display: grid !important;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-areas:
      "empresa lista musica "
      "empresa lista musica ";
    align-items: center;
    justify-self: center;



    @include tableth {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "empresa lista"
        "empresa lista"
        "musica musica";
    }

    @include phone {
      display: grid !important;
      text-align: center !important;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "empresa empresa"
        "lista lista"
        "musica musica";
    }
  }


  .col-footer {
    margin: 2rem 0px;
  }


  .col-footer:nth-child(1) {
    padding-left: calc(3.1vw + 0.63rem);
    grid-area: empresa;
    align-items: flex-start;
    display: flex !important;
    flex-flow: column;
    justify-content: space-between;


    small {
      font-size: calc(0.1vw + 0.9rem);
      margin-bottom: 1rem;
      text-align: left !important;
    }
  }

  .col-footer:nth-child(2) {
    padding-left: calc(3.1vw + 0.63rem);
    grid-area: lista;
  }

  .col-footer:nth-child(3) {

    grid-area: musica;

    @include phone {

      width: 100%;
      left: 0;

    }

  }


}




.primera {
  margin-right: 20px;
}

span {
  color: #f0ebf7 !important;
  background-clip: text;
  -webkit-text-fill-color: #9d61f1 !important;
}

.minifooter {
  padding: 1.2rem;
  background-color: #010002;
  text-align: center;
  color: white;
}

.row {
  font-size: calc(1vw + 0.63rem);
  align-items: center;
  justify-content: flex-start;

  display: flex;
  flex-flow: row;

  li {
    margin: calc(0.1vw + 0.63rem);
  }

  @include phone {
    font-size: calc(2vw + 0.63rem);
    justify-content: center;

    li {
      margin: calc(3vw + 0.63rem);
    }
  }
}

#canvas2 {
  display: block;
}

.pantalla {
  position: relative;
  transform: translateY(120px);
}

.merca2 {
  height: 100vh;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;

  img {
    max-width: 320px
  }
}

.custom-shape-divider-bottom-1641956409 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1641956409 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 68px;
}

.custom-shape-divider-bottom-1641956409 .shape-fill {
  fill: #10041F;
}

.suscribe-form {
  text-align: center;

  .email,
  .btn-primario {
    text-align: center;
    margin: 2rem auto !important;
  }

}