$App1: #533278;
@import "./libs/mixins";
@import "./libs/variables";
@import './libs/type';

body {
  background: linear-gradient(#2b104b, #260b40, #1b0831);
}

.App {
  text-align: center;
}

.App-logo {
  margin-top: 21vh;
  margin-bottom: 3vh;
  height: 120px;
  pointer-events: none;
}

.slogan-img {
  margin-top: 5vh;
  width: 50%;
  max-width: 870px;
  margin: 1rem;

  @include tablet {
    margin-top: 12vh;
    width: 90%;

  }

  @include tablet {
    margin-top: 8vh;
    width: 90%;

  }

}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: float 6s ease-in-out infinite;
//   }
// }

.App-header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url(../img/background-go-pharma.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-link {
  color: #ba7dff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {

    transform: translatey(0px);
  }

  50% {

    transform: translatey(-20px);
  }

  100% {

    transform: translatey(0px);
  }
}

#tsparticles {
  height: 100vh;
  width: 100%;
  z-index: 0;

  position: relative;

  //background-image: url("../assets/bgHero.jpeg");
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}

.background-a {
  z-index: -1;
  position: absolute;
  opacity: 1;
  height: 100vh;
  width: 100%;
}

section.section {
  height: 100vh;
}